body {
    margin: 1.6em;
}

a {
    text-decoration: none;
}

.empresa {
    font-family: var(--fonte-principal);
    color: var(--cor-fonte);
    font-size: 18px;
}

.signin {
    background-color: var(--branco);
    margin-top: 2em;
    padding: 2.5em 1.7em 3em 1.7em;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 50px;
}

.orga {
    display: flex;
    flex-direction: row;
}

.titulo {
    font-size: 16px;
    font-weight: 300;
}

.titulo-negrito {
    font-weight: 700;
    color: var(--cor-fonte);
}
.senao {
    font-size: 14px;
    color: var(--cinza);
    margin: 0 0 0 3em;
}

.link_signup {
    color: var(--cor-fonte);
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.titulo_pagina {
    font-size: 40px;
    margin-top: 0.2em;
}

.links_login {
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
}


.google {
    background-image: url("../img/google.svg");
    background-repeat: no-repeat;
    background-position: 1em;
    padding: 1.3em 1em 1.3em 1em;
    background-color: var(--cor-de-fundo);
    color: var(--cor-fonte);
    font-size: 12px;
    border-radius: 7px;
    padding-left: 3.5em;
    padding-right: 1.5em;
}

.fb, .appleid {
    background-color: var(--cinza-claro);
    border-radius: 7px;
    padding: 0.8em 0.6em;
}

.inputs_titulo {
    font-size: 14px;
    margin-top: 4em;
    margin-bottom: 1em;
    justify-content: center;
}

.input {
    border-radius: 7px;
    padding: 1.5em 6.5em 1.5em 1em;
    margin-top: 0.5em;
    border-color: var(--cinza-claro);
    border-style:ridge;
}

.pass {
    margin-top: 3em;
    text-align: left;
    padding-left: 1.7em;
}

.inputs {
    text-align:center;
    font-size: 14px;
    float: left;
}

.forgot {
    margin-right: 3em;
    margin-top: 1em;
    font-size: 11px;
    color: var(--cor-fonte);
    text-align: right;
}

.botao_signin {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
    text-align: center;
    font-size: 16px;
    padding: 1.2em  0em;
    border-radius: 7px;
    margin: 4em 1em 1em 1em;
}

#emailInput:focus {
    outline-color: var(--cor-de-fundo);
}

.forgot:active {
    color: var(--cinza);
}

.botao_signin:active {
    color: var(--cor-de-fundo);
    background-color: var(--cinza-claro);
}

.google:active {
    color: var(--branco);
    font-size: 14px;
}

.or {
    display: none;
}

.imagem_pessoa {
    display: none;
}

@media screen and (min-width:1200px) {
    body {
        background: linear-gradient(to right, var(--cor-de-fundo) 50%, var(--background) 50%);
    }
    
    .imagem_pessoa{
        display: block;
        width: 17%;
        height: auto;
        margin-top: 9em;
        margin-right: 5em;
    }


    .container {
        display: flex;
        justify-content: right;
        position: relative;
      }
    
    .empresa {
        margin: 2em 0.5em;
        margin: 0;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
    }

    .signin {
        padding: 3.5em 1.7em 3em 2.8em; 
        box-shadow: 0px 0px 1em var(--cinza-claro);
        -webkit-box-shadow: 0px 0px 1em var(--cinza-claro);
        -moz-box-shadow: 0px 0px 1em var(--cinza-claro);
        width: 500px;
        margin: 0 auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .titulo_pagina {
        font-size: 55px;
    }

    .titulo {
        font-size: 20px;
    }

    .senao {
        margin-left:9em;
        margin-right: 1em;
    }

    .links_login {
        order: 1;
        margin-top: 1em;
        margin-right: 0.5em;
        justify-content: space-between;
    }
    
    .inputs_titulo {
        margin-top: 2.7em;
        margin-bottom: 0.5em;
        text-align: left;
    }

    .pass {
        padding: 0;
    }

    .input {
        padding: 1.5em 23em 1.5em 1em;
    }
    
    .inputs{
        text-align: left;
    }

    .inputs_titulo {
        font-size: 16px;
    }

    .forgot {
        font-size: 13px;
        margin: 2em 1em 0em 0em
    }

    .botao_signin {
        margin: 2em 0.5em 1em 0.1em;
        padding: 1.2em 8em;
    }

    .or {
        display: block;
        color: var(--cinza);
        text-align: center;
        margin: 1em 0;
    }

    .google {
        font-size: 16px;
        background-position: auto;
        background-size: 1.5em;
        padding: 1.3em 4.2em 1.3em 4.5em;
    }

    .fb, .appleid {
        padding: 1em;
    }

    .imagem {
        width: auto;
        height: auto;
        min-width: 1.5em;
        min-height: 1.5em;
    }
}